:root {
    --cor-fundo: #ffffff;
    --cor-texto: #333333;
    --cor-primaria: #34495e;
    --cor-secundaria: #b0bec5;
    --cor-destaque-amarelo: #f1c40f;
    --cor-destaque-verde: #27ae60;
    --cor-destaque-laranja: #f39c12;
    --cor-fundo-login: #f4f7f6;
}

body { background-color: var(--cor-fundo-login); color: var(--cor-texto); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0; }

#tela-login { background: white; padding: 40px; border-radius: 12px; box-shadow: 0 15px 35px rgba(0,0,0,0.1); width: 380px; text-align: center; border-top: 6px solid var(--cor-primaria); }
.logo-subtexto { font-size: 14px; color: var(--cor-primaria); text-transform: uppercase; letter-spacing: 2px; font-weight: bold; margin-bottom: 25px; }
#tela-login input { width: 100%; padding: 14px; margin-bottom: 18px; border: 1px solid var(--cor-secundaria); border-radius: 6px; box-sizing: border-box; }
#tela-login button { width: 100%; background: var(--cor-primaria); color: white; padding: 14px; border: none; border-radius: 6px; cursor: pointer; font-weight: bold; }

#sistema-principal { display: none; }
body.sistema-aberto { background-color: var(--cor-fundo); align-items: flex-start; padding-top: 20px; }
.container-corporativo { border: 1px solid var(--cor-secundaria); padding: 40px; width: 950px; background-color: var(--cor-fundo); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); border-radius: 8px; }
h1 { text-align: center; font-size: 26px; margin-bottom: 35px; text-transform: uppercase; color: var(--cor-primaria); border-bottom: 3px solid var(--cor-destaque-amarelo); padding-bottom: 15px; }

.grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 18px; }
.campo { display: flex; flex-direction: column; margin-bottom: 12px; }
label { font-size: 11px; font-weight: bold; margin-bottom: 6px; text-transform: uppercase; color: var(--cor-primaria); }
input, select { padding: 12px; border: 1px solid var(--cor-secundaria); font-size: 14px; border-radius: 6px; outline: none; box-sizing: border-box; }

.botoes { margin-top: 35px; display: flex; gap: 12px; justify-content: center; }
button { padding: 14px 25px; border: none; font-weight: bold; cursor: pointer; text-transform: uppercase; border-radius: 6px; font-size: 12px; }

.btn-limpar { background-color: #546e7a; color: #fff; }
.btn-relatorio { background-color: #3498db
